.col-details {
  text-align: center;
  width: 12%;
}

.btn-func {
  margin-right: 2px;
}

.col-question {
  text-align: justify;
  width: 52%;
}

.col-question a {
  text-decoration: none;
}

.item a {
  color: black;
}

.col-full {
  text-align: center;
}
